/**
 * Basic app styles.
 */

body
  height 100%
  font-weight 400
  color $black
  background #f5f5f5
  font-size 14px
  text-rendering optimizelegibility
  -webkit-font-smoothing antialiased
  padding 20px

::selection
  background $pink
  color #FFF

a
  color #e74c3c
  text-decoration none
