/**
 * Basic app styles.
 */

body
  height 100%
  font-weight 400
  color $black
  background $ligthGrey
  font-size 14px
  text-rendering optimizelegibility
  -webkit-font-smoothing antialiased
  padding 20px

::selection
  background $grey
  color $ligthGrey

a
  color $red
  text-decoration none
