/**
 * Helper styles.
 */

.center
  text-align center

.clearfix:before,
.clearfix:after
  content " "
  display table

.clearfix:after
  clear both

.textLimiter
  display block
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.float-left
  float left

.float-right
  float right
