doctype html
html
  head
    include head
  body
    h1 WHOOOOOOP! #{status} error

    if (CURRENT_ENV == 'DEVELOPMENT') 
      p DEV_ONLY: #{message}
        
    a(href='/') <strong>#{__('Back')}</strong> #{__('to homepage!')}
