footer
  p.
    © 2014 Slinto <br>
    ENV: #{CURRENT_ENV}


if (CURRENT_ENV == 'development')
  script(src='/bower_components/closure-library/closure/goog/base.js')
  script(src='/build/deps.js')
  script.
    goog.require('slinto.app');
else
  script(src='/build/js/build.js')
